p {
    font-size: 150%;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
}

#bluebox {
    padding: 16px;
    background-color: rgb(132, 158, 255);
    height: 100px;
}
#greenbox {
    padding: 16px;
    background-color: rgb(153, 255, 149);
    height: 100px;
}
#redbox {
    padding: 16px;
    background-color: rgb(255, 149, 149);
    height: 100px;
}

#purplebox {
    padding: 16px;
    background-color: rgb(157, 82, 172);
    height: 100px;
}

#pinkbox {
    padding: 16px;
    background-color: rgb(245, 195, 255);
    height: 100px;
}

